body {

    font-family: 'Amaranth';font-size: 22px;
    font-size: 22px;
    background-size: 100%;
    background-image: url("https://images.unsplash.com/photo-1471584363844-b3909b58d6f7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9c3a846b5bfd1dd4947c79626e11ae41&auto=format&fit=crop&w=967&q=80");
    background-repeat: no-repeat; 
    background-attachment:fixed; 
    background-size: cover; 
}

* {
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.row {
    display:flex; 
    flex-wrap: wrap;
    padding-top: 30px;
    height: 100%;
    width: 100%;
    font-family: 'Amaranth';
    font-size: 19px;
}

/* Create three equal columns */
.column {
    flex: 25%;
    border: 1px solid transparent;
    background: rgb(9,220,251,0.5);
    font-family: 'Amaranth';font-size: 18px;
    width: 100%; 
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;

}


/* On screens that are 992px wide or less, go from three columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
}

.bio{
text-align: center;
margin-left: auto;
margin-right: auto;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    
}


/* Add a black background color to the top navigation */
.nav {
    background-color:transparent;
    overflow: hidden;
    font-family: 'Amaranth';font-size: 22px;
}


/* Style the links inside the navigation bar */
.nav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
    background-color: skyblue;
    color: black;
}

/* Add a color to the active/current link */
.nav a.active {
    background-color: skyblue;
    color: black;
}

.biodata{
    font-family: 'Amaranth';
    font-size: 20px;
    margin-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
}

.kotakbiodata{
    border: 1px solid transparent;
    background: rgba(250, 252, 252, 0.5);
    padding-top: 30px;
    width: 100%; 
    height: 100%;
    
}

.jadwal{
    font-family: 'Amaranth';
    font-size: 15px;
    margin-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.teks1{
   text-align: center;
}


.teks2{
    text-align: center;
}


.teks3{
    text-align: center;
}

.kotak-bio {
    border: 1px solid transparent;
    background: rgb(9,220,251,0.5);
    font-family: 'Amaranth';
    font-size: 18px; 
    margin-left: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.fa {
    float: left;
    padding: 5px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 3px 6px;
    border-radius: 50%;
}
  
.fa:hover {
      opacity: 0.5;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

  
/* For Register Form */
* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 80px;
    background-color: rgba(250, 252, 252, 0.5);
    font-family: 'Amaranth';font-size: 18px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=date], input[type=email]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus {
    background-color: skyblue;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: skyblue;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-family: 'Amaranth';

}

.registerbtn:hover {
    opacity: 0.7;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
