<!DOCTYPE html>
<html>
<head>
    {% include 'navbar.html' %}
     {% load static %}
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static "style.css" %}>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist\css\bootstrap.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<title>Schedule</title>
</head>

<body>
	<div id="navigationbar"></div>
    <script>
        $(function(){
            $("#navigationbar").load("navbar.html");
        });
    </script>

    {% block content %}
    {% endblock %}

</body>
</html>