{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="jadwal">
            <section name="form">
                <h2>Add to your Schedule</h2>
                <form method="POST" action="#">
                    {% csrf_token %}
                    {% for field in form %}
                        <p> {{ field.label_tag }} {{ field }} </p>
                    {% endfor %}    
                    <input type="submit" value="Submit" class="registerbtn" style="font-family: 'Amaranth';">
                    <a href="{% url 'jadwal' %}" style="color: black; float: right;">See your Schedule</a>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
