{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h2>Schedule</h2>
        <table style="width: 100%; text-align: center;">
            {% if lstJadwal %}
                <tr>
                    <th>Activity</th>
                    <th>Day / Date</th>
                    <th>Time</th>
                    <th>Place</th>
                    <th>Category</th>
                </tr>
                {% for jadwals in lstJadwal %}
                    <tr>
                        <td>{{ jadwals.nama_kegiatan }}</td>
                        <td> {{jadwals.hari}} / {{ jadwals.date }}</td>
                        <td>{{ jadwals.time }}</td>
                        <td>{{ jadwals.tempat }}</td>
                        <td>{{ jadwals.kategori }}</td>
                    </tr>
                {% endfor %}  
            {% else %}
                <h5>Tidak ada jadwal terbaru</h5>
            {% endif %}     
        </table>
        <br>
        <a href="{% url 'tambahJadwal'%}" style="color: black; background-color: skyblue; width: 100%; text-align: center; font-size: 15px;">Add a new Schedule</a>
        <a href="{% url 'deleteJadwal'%}" style="color: black; background-color: skyblue; width: 100%; text-align: center; font-size: 15px;">Delete Schedule</a>
    </div>
{% endblock %}