<div class="nav">
        <nav>
        	    <a href="tambahJadwal">Schedule</a>
                <a href="register">Registration</a>
                <a href="aboutme">About Me </a>
                <a href="home">Home</a>
        </nav>
</div>