<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% include 'navbar.html' %}
    <meta charset="utf-8" />
    <title>Register Form</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist\css\bootstrap.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
</head>
<body>
    
<form action="/action_page.php">
    <div class="container">
      <h1>Register Account</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
        
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" required>

      <label for="birthdate"><b>Birth Date</b></label>
      <input type="date" placeholder="Enter Birthday" name="birthdate" required>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" required>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      <hr>
  
      <button type="submit" class="registerbtn">Submit</button>
    </div>
  </form>

</body>
</html>