<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% include 'navbar.html' %}
    <meta charset="utf-8">
    <title>My Biodata </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist\css\bootstrap.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>


<body>
    <div id="navigationbar"></div>
    <script>
        $(function(){
            $("#navigationbar").load("navbar.html");
        });
    </script>
    <div class="row">
            <div class="kotakbiodata">
                    <div class="biodata">
                            <h2> BIODATA </h2>
                            <p> Date and Place of Birth: Jakarta, November 16th 1999 </p>
                            <p> Address: Jl. WR Supratman No. 27 RT 02/04 Ciputat </p>
                            <p> Email: akayza16@gmail.com </p>
                            <p> HP Number: 087786661845 </p>
                    </div>
            </div>
    </div>

    <div class="footer">
        <footer>
            <a href="https://twitter.com/kayzaadisti" class="fa fa-twitter"></a>
            <a href="https://linkedin.com/in/kayza-adisti" class="fa fa-linkedin"></a>
            <a href="https://instagram.com/kayzaadisti" class="fa fa-instagram"></a>
        </footer>
    </div>

</body>
</html>