<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% include 'navbar.html' %}
    <meta charset="utf-8" >
    <title>Welcome to Kayza's Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist\css\bootstrap.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <div id="navigationbar"></div>
    <script>
        $(function(){
            $("#navigationbar").load("navbar.html");
        });
    </script>
    <div class="row">
        <div class="bio">
                <img src="https://pbs.twimg.com/profile_images/1032969675234136065/w8YTwzi6_400x400.jpg" height="250" class="img"/>
                <h1> Annisaa Kayza Adisti </h1>
                <div class="kotak-bio">
                        <p> Information System student who is highly motivated, passionate, active,
                            <br> energetic, eager to learn new things, and can work alone or in teams. 
                            <br> I was born in Jakarta, November 16, 1999 and is the only child in my family. 
                            <br> Interested in Developing my Web Design & Programming Skills.</p>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="teks1">
                <h2>SKILLS</h2>
                Programming:<br>Python<br>Java<br>HTML5<br>CSS3<br>
                    <br>Languages:<br>English<br>Indonesian<br>Korean<br>
                <br>Other Skills:<br>Microsoft Office<br>Teamwork<br>Problem Solving<br>Communication<br>Human Resources
                <p></p>
            </div>
        </div>

        <div class="column">
                <div class="teks2">
                    <h2>EDUCATION</h2>
                    <p> 2017 - now <br> Faculty of Computer Science, Universitas Indonesia</p> <br>
                    <p> 2014 - 2017 <br> SMA Negeri 47 Jakarta </p> <br>
                    <p> 2011 - 2014 <br> MTs Pembangunan UIN Jakarta</p> <br>
                    <p> 2005 - 2011 <br> MI Pembangunan UIN Jakarta</p>
                    <p></p>
                    
                </div>
        </div>

        <div class="column kanan">
                <div class="teks3">
                    <h2>EXPERIENCES</h2>
                    <u>BEM Fakultas Ilmu Komputer UI 2018</u><br> Human Resources Development Bureau Staff<br>
                    <br><u>COMPFEST X</u><br>Fundraising Staff
                    <br>
                    <br><u> Open House Fasilkom UI 2018</u><br>Event Staff
                    <br>
                    <br><u> Wisuda Ganjil Fasilkom UI 2018</u><br>Creative Staff
                    <br>
                    <br><u> Wisuda Genap Fasilkom UI 2018</u><br>Vice Person in Charge of Creative
                    <br>
                    <br><u> 25th Computers Get Together</u><br>Fundraising Staff
                    <p></p>
                    
                </div>
        </div>

        <div class="footer">
                <footer>
                    <a href="https://twitter.com/kayzaadisti" class="fa fa-twitter"></a>
                    <a href="https://linkedin.com/in/kayza-adisti" class="fa fa-linkedin"></a>
                    <a href="https://instagram.com/kayzaadisti" class="fa fa-instagram"></a>
                </footer>
        </div>
</body>
</html>